{{# partial "titulo" }}	
	<title>PixlPapers</title>
{{/partial}}
		
{{# partial "contenido" }}  

	<h1 style="color:white; font-weight:bold">Copyright</h1>


	<div class="jumbotron">
		<p style="color:white">
			The content of this website is user-submitted and it's not propierty of PixlPapers. That means that some wallpapers may be work of other people. If you are the owner of a wallpaper and its rights, please contact us at <strong> pixlpapers@gmail.com </strong> and we'll get it instantly removed.
		</p>

	</div>


{{/partial}}
				
{{> layout.hbs }}